:root {
  --background-color: #272727;
  --on-background-color: #747474;
  --color-red: #d45324;
  --color-yellow: #ffe400;
  --color-green: #14a76c;
  --color-blue: #2450df;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--on-background-color);
  height: 100%;
  padding: 1rem;
  display: grid;
  place-content: center;
  gap: 1rem;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0.5rem;
}

h3 {
  font-weight: normal;
}

.player-one-score,
.player-two-score {
  font-size: 2rem;
  font-weight: 600;
}

.game-info {
  text-align: center;
}

.scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 500;
  margin-block: 1rem;
}

.scores>div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.active-player {
  font-weight: 600;
}

.active-player::after {
  content: '\'s turn';
}

.player-one {
  color: var(--color-blue);
}

.player-two {
  color: var(--color-red);
}

.board {
  width: clamp(280px, 50vh, 40vw);
  height: clamp(280px, 50vh, 40vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.actions-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.action-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: none;
  color: var(--on-background-color);
  border-radius: 16px;
  transition: ease 100ms;
}

.action-btn:hover {
  cursor: pointer;
}

.action-btn:active {
  filter: brightness(0.8)
}

.reset-round-btn {
  border: 2px solid var(--color-blue);
}

.reset-round-btn:hover {
  background-color: var(--color-blue);
  color: var(--background-color);
}

.reset-game-btn {
  border: 2px solid var(--color-green);
}

.reset-game-btn:hover {
  background-color: var(--color-green);
  color: var(--background-color);
}

.cell {
  border: 2px solid var(--on-background-color);
  background-color: var(--background-color);
  transition: ease 80ms;
  font-size: 4rem;
  display: grid;
  place-content: center;
}

.cell:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.cell:active {
  filter: brightness(0.9);
}

/* First column of cells */
.cell:nth-child(3n+1) {
  border-left: none;
}

/* First row of cells */
.cell:nth-child(-n+3) {
  border-top: none;
}

/* Last column of cells */
.cell:nth-child(3n) {
  border-right: none;
}

/* Last row of cells */
.cell:nth-child(n+7) {
  border-bottom: none;
}